{% extends "website/baselayout.html" %}
{% block content %}
<style>
    .parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .card {

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 20%;
        border-radius: 5px;
        margin: 30px;
        text-align: center;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    img {
        border-radius: 5px 5px 0 0;
    }

    .container {
        padding: 2px 16px;
    }

    a {
        text-decoration: none;
        font-size: larger;
    }
</style>
<div class="parent">


    <div class="card">
        <a href="{% url 'pen_bps' %}">
            <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201909/agri_tech.jpeg?tO3o7WWloZ63zJI6O7hdiLIhTCrHxZvL&size=770:433"
                alt="Avatar" style="width:100%; height:auto;">
            <div class="container">
            </div>
            <h3> Pending Bussiness Partners</h3>
        </a>
    </div>
    <div class="card">
        <a href="{% url 'pen_ents' %}">
            <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201909/agri_tech.jpeg?tO3o7WWloZ63zJI6O7hdiLIhTCrHxZvL&size=770:433"
                alt="Avatar" style="width:100%; height:auto;">
            <div class="container">
            </div>
            <h3> Pending Entrepreneurs</h3>
        </a>
    </div>


    </br>

</div>

{% endblock content %}